---
---

@import "{{ site.theme }}";

header{
    text-align: center;
    
    img{
        border-radius: 2rem;
        margin-bottom: 1rem;
        border: 5px solid rgba(255,255,255, .2)
    }
}

h1,h2, h3, h4, h5, h6{
    color: yellow;
}

body{
    background: linear-gradient(74deg, rgba(122,43,0,1) 0%, rgba(252,69,69,1) 47%);
    color: white;
}

a{
    color: white;
}

a:hover,a:focus{
    color: white;
    text-decoration: underline;
}

.downloads a{
    text-decoration: none;
}

table{
    box-shadow: 1px 1px 20px 20px rgba(0,0,0, .1);
    padding: 1rem;
}