---
---

@import "{{ site.theme }}";

header{
    text-align: center;
    margin-bottom: 4rem;
    
    img{
        border-radius: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border: 5px solid rgba(220,0,0, 1);
        width: 90%;
    }
}

h1,h2, h3, h4, h5, h6{
    color: yellow;
    margin: 0;
}

body{
    background: linear-gradient(74deg, rgba(122,43,0,1) 0%, rgba(252,69,69,1) 47%);
    color: white;
}

a{
    color: white;
}

a:hover,a:focus{
    color: white;
    text-decoration: underline;
    text-decoration-color: yellow;
}

.downloads{
    text-align: center;
    height: 50px;
    margin: 0 auto;

    li{
        float: unset;
        border-right: 0;
        margin: 0 auto;
        width: unset;
    }

    a{
        text-decoration: none;
        box-shadow: 1px 1px 10px rgba(0,0,0, .2);
        height: 45px;
        line-height: 1.3;

        &:hover{
            box-shadow: 1px 1px 10px rgba(0,0,0, .5);
        }

        &:active{
            background-color: white;
        }
    }
}

table{
    margin-top: 1rem;
    box-shadow: 1px 1px 20px 20px rgba(0,0,0, .1);
    border: 5px solid rgba(220,0,0, .25);
    
    th{
        color: white;
        background-color: rgba(0,0,0, .1);
    }

    th, td {
        padding: .5rem 1rem .5rem 1rem;
        border-color: rgba(220,0,0, 1);
    }

    tr{
        &:first-child{
        
            &:hover{
                background-color: inherit;
                color: inherit;
            }
        }

        &:hover{
            background-color:  rgba(0,0,0, .1);
            color: yellow;
        }
    }
}

footer{
    text-align: center;
}